* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.sitenav-item:not(:last-child) {
  margin-right: 22px;
}

.sitenavlink {
  text-decoration: none;
  color: rgba(102, 102, 102, 0.85);
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.hero-title {
  width: 522px;
  height: 175px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
}

.hero-text {
  width: 512px;
  height: 120px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #434a54;
}
.hero-img {
  width: 600px;
  height: 600px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 649px;
}

.features-img {
  width: 590px;
  height: 589px;
}
.features-title {
  width: 437px;
  height: 88px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
}
.features-text {
  width: 458px;
  height: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.features-link {
  width: 104px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: #1d6ff3;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 599px;
}

.promo-title {
  width: 443px;
  height: 44px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
}
.promo-text {
  width: 500px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.promo-pic {
  width: 600px;
  height: 599px;
}
.promo-link {
  width: 107px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.blog-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.blog-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blogpic {
  z-index: 1;
}

.blogdiv {
  width: 280px;
  position: absolute;
  top: 100px;
  z-index: 99;
  background-color: #ffffff;
  padding: 17px 19px;
}
.blog-divider {
  width: 30px;
  height: 2px;
  color: rgba(0, 0, 0, 0.1);
  border: none;
}
.blog_title1 {
  color: #4a4a4a;
}

.blog-list2 {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
}
